build/
dist/
.pytest_cache/
cromwell-executions/
*.egg-info/
__pycache__/
*.pyc
.coverage
coverage.xml
.idea
docs/build
docs/source/modules.rst
docs/source/pytest_wdl.rst
docs/source/pytest_wdl.data_types.rst
docs/source/pytest_wdl.executors.rst
docs/source/pytest_wdl.url_schemes.rst

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
